{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MS2LDA+ {% block title %}{% endblock %}</title>  
  
  <!-- Latest compiled and minified CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=EB+Garamond">
    <style>
      body {
        font-family: 'EB Garamond', serif;
        font-size : 20px;  
        
      }
    </style>

  {% block head %}
     {% endblock %}
</head>
	<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">MS2LDA+</a>
	    </div>       
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
	            <li><a href="/search">Upload Decomposition Files</a></li> 
	      </ul>
          <ul class="nav navbar-nav navbar-left">
	            <li><a href="/search">List Experiments</a></li> 
	      </ul>  
	    </div>
	  </div>
	</nav>
         {% block content %}
 <div class="container">
            
<div>
    <img class="img-responsive" style="margin-top: 10px; margin-bottom: 10px" align="left" src="/static/images/banner3.jpg" alt="Banner" width="100%" height ="100%"/>
        
</div>   
    
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body">
            <h2>Metabolomics</h2>
              <p style="font-size:90%;">
                 <a href="https://en.wikipedia.org/wiki/Metabolomics">Metabolomics</a> is the large-scale, untargeted studies of the small molecules involved in essential life-sustaining chemical processes (metabolites). Untargeted metabolomics has provided insights into a wide array of fields, such as medical diagnostics, drug discovery, personalised medicine and many others.
            Measurements in metabolomics studies are routinely performed using <a     href="https://en.wikipedia.org/wiki/Liquid_chromatography%E2%80%93mass_spectrometry">liquid chromatography mass spectrometry</a> (LC-MS) instruments.
            Using <a href="https://en.wikipedia.org/wiki/Tandem_mass_spectrometry">tandem mass spectrometry</a>, fragmentation peaks characteristic to a compound can be obtained and used to help establish the identity of the compound.
        </p>
    </div>
     </div>
     <div class="panel panel-default">
    <div class="panel-body">
        <h2>Unsupervised Substructure Discovery</h2>
        <p style="font-size:90%;">
            <a href="https://en.wikipedia.org/wiki/Fragmentation_(mass_spectrometry)">Fragmentation spectra</a>, which provide the characteristic fingerprints of compounds, also contain structural information where a subset of fragment peaks may correspond to a shared chemical substructure in a class of compounds.
            The aim of this site is to provide an online platform that allows users to perform unsupervised substructure discovery in fragmentation experiments,
            decompose fragmentation experiments into characterized substructures (Mass2Motifs) found in MS/MS spectra of reference compounds,
            and integrate fragmentation analysis with comparative metabolomics experiments.
        </p>
        
        <p>
         </div>
     </div>
        <div class="panel panel-default">
    <div class="panel-body">
        <h2>MS2LDA</h2>
        <p style="font-size:90%;">
            <a href="http://ms2lda.org">MS2LDA</a> was introduced to improve the use of fragmented spectra and to facilitate the identification of untargeted molecules. MS2LDA is inspired by text processing technique Latent dirichlet allocation(LDA). LDA is a generative probabilistic model which requires no supervision and is highly effective in processing unlabeled data. MS2LDA leverages LDA by first extracting mass fragments and neutral losses(Mass2Motifs) from fragmentation spectra, and this is later used to annotate the molecules which are not present in the spectra with the help of experts. 
    
        </p>
        
        <p>
         </div>
     </div>
     <div class="panel panel-default">
    <div class="panel-body">
        <h2>MS2LDA+</h2>
        <p style="font-size:90%;">
            <a href="http://pubs.acs.org/doi/abs/10.1021/acs.analchem.7b01391">MS2LDA+</a>, In untargeted metabolomics approaches, the inability to structurally annotate relevant features and map them to biochemical pathways is hampering the full exploitation of many metabolomics experiments. Furthermore, variable metabolic content across samples result in sparse feature matrices that are statistically hard to handle. Here, we introduce MS2LDA+ that tackles both above-mentioned problems. Previously, we presented MS2LDA, which extracts biochemically relevant molecular substructures (“Mass2Motifs”) from a collection of fragmentation spectra as sets of co-occurring molecular fragments and neutral losses, thereby recognizing building blocks of metabolomics. Here, we extend MS2LDA to handle multiple metabolomics experiments in one analysis, resulting in MS2LDA+. By linking Mass2Motifs across samples, we expose the variability in prevalence of structurally related metabolite families. 
We are currently considering how to store this structural information in such a way that it can be easily transferred to new experiments and how to make it searchable for the scientific community, for example, by converting them into MassBank records.

        </p>
        <p>
         </div>
     </div>   
        
      </div> 
       {% endblock %}  

        {% block tail %}
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
                      crossorigin="anonymous"></script>
	    {% endblock %}
     </div>
        
        {% block js_block %}
    {% endblock %}
	</body>

	</html>