{% extends "base.html" %}
{% load static %}
{% block head %}
<!-- Adopted from https://github.com/VoidCanvas/pair-select -->
    <style type="text/css">
        
        .select{
            float: left;
            width: 250px;
            overflow: auto;
            margin-left: 30px; 
            border: 1px silver solid;
        } 
        .select select{
            border: none;
            min-width: 250px;
        }       
        .arrow{
            float:left;
            margin:20px;
            margin-top: 120px;
            margin-left: 10px; 
        }
    </style>
{% endblock %}
{%  block js_block %}
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script type='text/javascript' src='{% static "js/pair-select.min.js" %}'></script>
<script type="text/javascript">
    //Validate if sample data categorized correctly. if not display error messages on webpage
        function validate()
        {
            
            if (document.getElementById("group1").options.length == 0 || document.getElementById("group2").options.length == 0)
            {
                var html_to_insert = "Required fields are empty";
                document.getElementById("errors").innerHTML = html_to_insert;
                return false;
            }
            else if (document.getElementById("group1").options.length < 2 ||document.getElementById("group2").options.length < 2)
            {
                var html_to_insert = "Atleast 2 files are required in each group";
                document.getElementById("errors").innerHTML = html_to_insert;
                return false;
            }
            else
            {
                document.getElementById("errors").innerHTML = "";
            }
            return true;
        }
    </script>

<script>
$(document).ready( function(){  
$('#selectitem').pairMaster();    
$('#g1Add').click(function(){    
$('#selectitem').addSelected('#group1');
});
$('#g1Remove').click(function(){
$('#group1').removeSelected('#selectitem');
});
$('#g2Add').click(function(){
$('#selectitem').addSelected('#group2');
});
$('#g2Remove').click(function(){
$('#group2').removeSelected('#selectitem');
}); 
});    
</script>
{% endblock %} 
<!-- /.container -->
{% block content %} 
<div class="container">
    <div class="jumbotron">
<div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body">
         <h3>Categorise the files for analysis</h3>
<p style ="font-size:90%;">Identify the relevance between various motifs across samples and produce Principal Component Analysis, Dendrogram, Heatmap Dendrogram in order to visualize the motifs relevance and sample differences. Use statistical methods - z-score, t-test, p-values and q-values to confirm the correlation and relevance of motifs.</p>
<p style ="font-size:90%;">**Select atleast two files for each group**</p>            
  </div>
     </div>           
      </div>
<form id="categoryform" method="POST" action="." enctype="multipart/form-data">
    <p style ="font-size:90%;margin-left: 20px">Choose sample names for Healthly(LEFT) and Diagnose(RIGHT)</p>
        <div class="select">
            <select name="group1" id="group1" multiple  size="15">
            </select>
        </div>

        <div class="arrow">
            <button type="button" id="g1Add"><</button><br>
            <button type="button" id="g1Remove">></button>
        </div>

        <div class="select">
            <select id="selectitem" multiple size="15">
                {% for result in result_list %}
                    <option value="{{result.fileName}}">{{result.fileName}} </option>
                {% endfor %}
            </select>
        </div>

        <div class="arrow">
            <button type="button" id="g2Add">></button><br>
            <button type="button" id="g2Remove"><</button>
        </div>

        <div class="select">
            <select name="group2" id="group2" multiple size="15">
            </select>
        </div>

        <div style="clear:both;margin-bottom:10px"></div>
           
    <input id="submitbtn" type="submit" name="submit" value="Submit" class="btn btn-primary" onclick="return validate();"style="margin-left:900px"/>
    <label id ="errors" style="display: inline-block;color: red"></label>

            {% csrf_token %}
    </form>
    </div>              
  </div>            
<!-- /.container -->
{% endblock %}




