{% extends 'base.html' %}
{% block content %}
<!-- User guide - Instructions on using web tool -->
 <div class="container">           
    <div class="panel-group">
      <div class="panel panel-default">   
       <div class="panel-body">
          <h2>Upload Decomposition Files</h2>
          <p style="font-size:90%;">
            1) Click on "Upload decomposition files" from home page
          </p>
          <div>
                <img class="img-responsive" style="margin-top: 10px; margin-bottom: 10px" align="left" src="/static/images/s1.png"           alt="Banner" width="50%" height ="50%"/>
          </div>     
        </div>
        <div class="panel-body">
          <p style="font-size:90%;">
            2) Add experiment details - The file names and result ids should be entered using newline, and click on submit.
              **Experiment Name should be unique**
          </p>
          <div>
                <img class="img-responsive" style="margin-top: 10px; margin-bottom: 10px" align="left" src="/static/images/s3.png" alt="Banner" width="50%" height ="50%"/>
          </div>     
        </div> 
        </div>
        <div class="panel-body">
          <p style="font-size:90%;">
            3) List experiments
          </p>
          <div>
                <img class="img-responsive" style="margin-top: 10px; margin-bottom: 10px" align="left" src="/static/images/s4.png" alt="Banner" width="50%" height ="50%"/>
          </div>     
        </div>  
          
        <div class="panel-body">
          <p style="font-size:90%;">
            4) Categorize the files into two groups and click on submit
          </p>
          <div>
                <img class="img-responsive" style="margin-top: 10px; margin-bottom: 10px" align="left" src="/static/images/s6.png" alt="Banner" width="50%" height ="50%"/>
          </div>   
            
        </div>   
        <div class="panel-body">
          <p style="font-size:90%;">
            5) Index page including all available tools will be displayed
          </p>
          <div>
                <img class="img-responsive" style="margin-top: 10px; margin-bottom: 10px" align="left" src="/static/images/s7.png" alt="Banner" width="50%" height ="50%"/>
          </div>   
            
        </div>    
          
      </div>   
     </div> 
     
       {% endblock %}  

   