{% extends 'base.html' %}

{% block content %}
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
    <div class="container">
       <h2>You are on your Dashboard</h2>   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
	        
	        
	            <li><a href="/">Home</a></li>
	            <li><a href="/search">Generate Plots</a></li>
	            <li class="divider"></li> 
	            <li><a href="/logout">Logout</a></li>
	          
	      </ul>
	    </div>
</div>
            </div>
        
	</nav>

{% endblock %}