{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>PlotLy plots</h1>
  <p class="lead">Click to see...</p>
</div>

<div class="container">
  <table class="table table-striped table-hover">
    <tr>
      <td>PCA-plot</td>
      <td><a class="btn btn-default" href="{% url 'rango:plotv' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>Hierarchical Cluster</td>
      <td><a class="btn btn-default" href="{% url 'rango:ploth' %}" role="button">View</a></td>
    </tr>  
  </table>
</div>
<!-- /.container -->

{% endblock %}