{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1></h1>
  <p class="lead"></p>
</div>

<div class="container">
  {% if expname %}  
  <table class="table table-striped table-hover">
    <tr>
      <td>Motif-Variance</td>
      <td><a class="btn btn-default" href="/plotm/{{expname}}">View</a></td>
    </tr>  
    <tr>
      <td>PCA-plot</td>
      <td><a class="btn btn-default" href="/plotv/{{expname}}">View</a></td>
    </tr>
    <tr>
      <td>Hierarchical Cluster</td>
      <td><a class="btn btn-default" href="/ploth/{{expname}}">View</a></td>
    </tr> 
    <tr>
      <td>Submit new analysis</td>
      <td><a class="btn btn-default" href="/categorySel/{{expname}}">View</a></td>
    </tr>  
      
  </table>
  {% endif %}  
</div>
<!-- /.container -->

{% endblock %}