{% extends "base.html" %}
{% block head %}
{{block.super}}
<STYLE TYPE="text/css">
<!--
.dataTables_wrapper { font-size: 16px }   
.dataTables_paginate span>span{
border: 1px solid #77D5F7;
color: #FFFFFF;
font-weight:normal;
} 
TD{background-color: #fff}       
--->
</STYLE>
{% endblock %}

{% block content %}
<body>
    

<!-- /.container -->
    
<div class="container"> 
    <div class="jumbotron">
    <a href="/index/{{exp}}" class="previous">&laquo; Go back to Index</a>  
    <h3>The data below shows the differential relevance between the two groups. </h3>
   <h4 style="margin-bottom: 20px">z-score is obtained by calculating difference in means divided by the sum of their standard deviations and P-value is an output from t-test of two group. P-value should be compared with respective q-value in order to avoid any False positive values.</h4>
   <h4 style="margin-bottom: 20px">Download the motiflist and score information by clicking on CSV button.</h4>
    <table id="motif" class="cell-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Motif</th>
                <th>Annotation</th>
                <th>zscore</th>
                <th>t-value</th>
                <th>p-value</th>
                <th>q-value</th>
            </tr>
        </thead>
        
        <tbody>
            {% for motif in motif %}
            <tr>                
                <td>
                {{motif.MotifName}}  
                </td>
                <td>
                {{motif.Annotation}}  
                </td>
                <td>
                {{motif.z_score}} <br/> 
                </td>
                <td>
                {{motif.t_value}} <br/> 
                </td> 
                <td>
                {{motif.p_value}} <br/> 
                </td>
                <td>
                {{motif.q_value}} <br/> 
                </td>
            </tr>
          {% endfor %}  
        </tbody>
        
    </table>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>        
<script type="text/javascript"  src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>   
<script type="text/javascript"  src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>

<!--Export table button CSS-->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css">
  
<script type="text/javascript"> 
   
    $('#motif').DataTable({
        dom: 'Bfrtip',
        buttons: [
            
            'csv',
            
        ],
        
         
    });
   
</script>
    </div>
    </div>

<!-- /.container -->

{% endblock %}


