{% extends "base.html" %}
{% block title %}MS2LDA+ experiment List{% endblock %}
{% block content %}
<div class="container">
<table style="width: 660px; border-collapse: collapse;height: 237px;" align="right" border="0" cellspacing="0" cellpadding="0" sizset="0" sizcache="15">
<tbody sizset="0" sizcache="15">
<tr>
<td><img style="margin-left: 30px; border: 1px currentColor;" src="https://media.giphy.com/media/bjMFVDIKw2oZG/giphy.gif" width="600" height="500"></td>
</tr>
<tr>
<td><img style="margin: 30px; border: 0px currentColor;" src="https://camo.githubusercontent.com/eee42c04f1922ec3947fb289b5dd6bd7945dad59/687474703a2f2f7265646f7468657765622e636f6d2f446570656e64656e6379576865656c2f696d672f646570656e64656e63795f63686f72642e676966" width="600" height="400"></td>
</tr>    
</tbody>
</table> 
           

			{% if result_list %}
            <p style="margin-left: 20px;font-size:90%;">MS2LDA+ experiments share Mass2Motifs across multiple samples, allowing us                     to infer the prevalence of that motif in a particular sample. </p>    
			<h2 style="margin-left: 20px;">MS2LDA+ experiment List</h2>
        
            <p style="margin-left: 20px;font-size:90%;">The following are MS2LDA+ experiments where motifs across samples have been discovered in a completely unsupervised manner. 
            </p>    

				{% for result in result_list %}
 <h3><b><a class="btn btn-primary btn-lg btn-block" style="width: 350px;margin-left: 20px;" href="/categorySel/{{result.experimentName}}"> {{result.experimentName}}</a></b></h3>
                                               
 
                   
					
					
					
				{% endfor %}
				
			{% endif %}
			</div>

		{% endblock %}