{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
<div class="jumbotron">
           

			{% if result_list %} 
    <h2 style="margin-left: 20px;">MS2LDA+DA experiment List</h2>
            <p style="margin-left: 20px;font-size:100%;">MS2LDA+ experiments share Mass2Motifs across multiple samples, allowing us to infer the prevalence of that motif in a particular sample. </p>    
			
        
            <p style="margin-left: 20px;font-size:90%;">The following are decomposition experiments where motifs in the data have been inferred using a previously defined set of Mass2Motifs (allowing for rapid decomposition of molecular spectra based on the presence of Mass2Motifs from our database). 
            </p>    

				{% for result in result_list %}
 <h2><b><a class="btn btn-primary btn-lg btn-block" style="width: 350px;margin-left: 20px;" href="/categorySel/{{result.experimentName}}"> {{result.experimentName}}</a></b></h2>

				{% endfor %}
				
			{% endif %}
			</div>
</div>
		{% endblock %}