{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
<div class="jumbotron">
           
<!-- Display all available experimennts -->
			{% if result_list %} 
    <h2 style="margin-left: 20px;">Decomposed Experiment List</h2>
            <p style="margin-left: 20px;font-size:100%;">Decomposition allows spectra from a dataset to be decomposed onto a set of pre-defined motifs. </p>    
			
        
            <p style="margin-left: 20px;font-size:90%;">The following are decomposition experiments where motifs in the data have been inferred using a previously defined set of Mass2Motifs (allowing for rapid decomposition of molecular spectra based on the presence of Mass2Motifs from our database). 
            </p>    

				{% for result in result_list %}
 <h2><b><a class="btn btn-primary btn-lg btn-block" style="width: 350px;margin-left: 20px;" href="/categorySel/{{result.experimentName}}"> {{result.experimentName}}</a></b></h2>

				{% endfor %}
				
			
            {% else %}
             <h2 style="margin-left: 20px;">Oops!! looks like no experiment is available at the moment!!</h2>
             <p style="margin-left: 20px;font-size:100%;"><a href="/loadData">Click here</a> to go to upload decomposition files</p> 
            {% endif %}
			</div>
</div>
		{% endblock %}